# データフレーム入門

Yoshinobu Ishizaki
2020/03/20

Rではデータフレームというデータ形式でデータを扱うことが多いので、
データフレームの扱いに慣れるのが肝心。

ここでは、tipsというデータを利用して、データフレームの使い方を学習する。

In [10]:
# もし次のlibrary(reshape)がエラーになる時は、パッケージをインストールする。
# install.packages("reshape")

In [3]:
# tips data is in "reshape"
library(reshape)

In [5]:
library(tidyverse)

─ Attaching packages ──────────────────── tidyverse 1.3.0 ─

✔ ggplot2 3.3.0     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

─ Conflicts ───────────────────── tidyverse_conflicts() ─
✖ tidyr::expand() masks reshape::expand()
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
✖ dplyr::rename() masks reshape::rename()

In [6]:
options(repr.plot.width = 11, repr.plot.height = 11/16*9)

In [7]:
theme_set(theme_grey(base_size = 18))

## データの概観

`head`, `tail`でデータフレームの先頭、末尾部分を確認出来る。

In [4]:
head(tips)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

行指定してデータを表示する場合、

In [19]:
tips[100:110,]

    total_bill tip  sex    smoker day time   size
100 12.46      1.50 Male   No     Fri Dinner 2
101 11.35      2.50 Female Yes    Fri Dinner 2
102 15.38      3.00 Female Yes    Fri Dinner 2
103 44.30      2.50 Female Yes    Sat Dinner 3
104 22.42      3.48 Female Yes    Sat Dinner 2
105 20.92      4.08 Female No     Sat Dinner 2
106 15.36      1.64 Male   Yes    Sat Dinner 2
107 20.49      4.06 Male   Yes    Sat Dinner 2
108 25.21      4.29 Male   Yes    Sat Dinner 2
109 18.24      3.76 Male   No     Sat Dinner 2
110 14.31      4.00 Female Yes    Sat Dinner 2

`str`でデータフレームの概要を見ることが出来る。

In [8]:
str(tips)

'data.frame':	244 obs. of  7 variables:
 $ total_bill: num  17 10.3 21 23.7 24.6 ...
 $ tip       : num  1.01 1.66 3.5 3.31 3.61 4.71 2 3.12 1.96 3.23 ...
 $ sex       : Factor w/ 2 levels "Female","Male": 1 2 2 2 1 2 2 2 2 2 ...
 $ smoker    : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ day       : Factor w/ 4 levels "Fri","Sat","Sun",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ time      : Factor w/ 2 levels "Dinner","Lunch": 1 1 1 1 1 1 1 1 1 1 ...
 $ size      : int  2 3 3 2 4 4 2 4 2 2 ...

`summary`でも概要を知ることが出来る。

In [9]:
summary(tips)

   total_bill         tip             sex      smoker      day         time
 Min.   : 3.07   Min.   : 1.000   Female: 87   No :151   Fri :19   Dinner:176
 1st Qu.:13.35   1st Qu.: 2.000   Male  :157   Yes: 93   Sat :87   Lunch : 68
 Median :17.80   Median : 2.900                          Sun :76
 Mean   :19.79   Mean   : 2.998                          Thur:62
 3rd Qu.:24.13   3rd Qu.: 3.562
 Max.   :50.81   Max.   :10.000
      size
 Min.   :1.00
 1st Qu.:2.00
 Median :2.00
 Mean   :2.57
 3rd Qu.:3.00
 Max.   :6.00

In [11]:
?tips

Tips                  package:reshape                  R Documentation

_T_i_p_p_i_n_g _d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     One waiter recorded information about each tip he received over a
     period of a few months working in one restaurant. He collected
     several variables:

        • tip in dollars,

        • bill in dollars,

        • sex of the bill payer,

        • whether there were smokers in the party,

        • day of the week,

        • time of day,

        • size of the party.

     In all he recorded 244 tips. The data was reported in a collection
     of case studies for business statistics (Bryant & Smith 1995).

_U_s_a_g_e:

     data(tips)

_F_o_r_m_a_t:

     A data frame with 244 rows and 7 variables

_R_e_f_e_r_e_n_c_e_s:

     Bryant, P. G. and Smith, M (1995) _Practical Data Analysis: Case
     Studies in Business Statistics_.  Homewood, IL: Richard D. Irwin
     Publishing:

## 層別

水準ごとに分けて集計をするのに、`group_by`を使う。

次のようにすると喫煙者と非喫煙者でチップが異なるかどうかを平均値で比較できる。

In [12]:
tips %>% group_by(smoker) %>% summarise(mean(tip))

  smoker mean(tip)
1 No     2.991854
2 Yes    3.008710

チップには喫煙者かどうかで大きな差はないようだ。

`group_by`は複数水準で使える。

In [16]:
tips %>% group_by(smoker, sex) %>% summarise(mean(tip))

  smoker sex    mean(tip)
1 No     Female 2.773519
2 No     Male   3.113402
3 Yes    Female 2.931515
4 Yes    Male   3.051167

サンプル数の確認は`n()`

In [17]:
tips %>% group_by(smoker, sex) %>% summarise(n())

  smoker sex    n()
1 No     Female 54
2 No     Male   97
3 Yes    Female 33
4 Yes    Male   60

In [23]:
tips %>% group_by(size) %>% summarise(max(tip))

  size max(tip)
1 1     1.92
2 2     5.85
3 3    10.00
4 4     9.00
5 5     5.14
6 6     6.70

3,4人のグループが最もチップを弾みやすい。どういう心理によるものか？

## 列の編集