# データフレーム入門

Yoshinobu Ishizaki
2020/03/20

Rではデータフレームというデータ形式でデータを扱うことが多いので、
データフレームの扱いに慣れるのが肝心。

ここでは、tipsというデータを利用して、データフレームの使い方を学習する。

In [10]:
# もし次のlibrary(reshape)がエラーになる時は、パッケージをインストールする。
# install.packages("reshape")

In [1]:
# tips data is in "reshape"
library(reshape)

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ tidyr::expand() masks reshape::expand()
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
✖ dplyr::rename() masks reshape::rename()

In [3]:
options(repr.plot.width = 11, repr.plot.height = 11/16*9)

In [4]:
theme_set(theme_grey(base_size = 18))

## データの概観

`head`, `tail`でデータフレームの先頭、末尾部分を確認出来る。

In [5]:
head(tips)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

行指定してデータを表示する場合、

In [6]:
tips[100:110,]

    total_bill tip  sex    smoker day time   size
100 12.46      1.50 Male   No     Fri Dinner 2
101 11.35      2.50 Female Yes    Fri Dinner 2
102 15.38      3.00 Female Yes    Fri Dinner 2
103 44.30      2.50 Female Yes    Sat Dinner 3
104 22.42      3.48 Female Yes    Sat Dinner 2
105 20.92      4.08 Female No     Sat Dinner 2
106 15.36      1.64 Male   Yes    Sat Dinner 2
107 20.49      4.06 Male   Yes    Sat Dinner 2
108 25.21      4.29 Male   Yes    Sat Dinner 2
109 18.24      3.76 Male   No     Sat Dinner 2
110 14.31      4.00 Female Yes    Sat Dinner 2

`str`でデータフレームの概要を見ることが出来る。

In [7]:
str(tips)

'data.frame':	244 obs. of  7 variables:
 $ total_bill: num  17 10.3 21 23.7 24.6 ...
 $ tip       : num  1.01 1.66 3.5 3.31 3.61 4.71 2 3.12 1.96 3.23 ...
 $ sex       : Factor w/ 2 levels "Female","Male": 1 2 2 2 1 2 2 2 2 2 ...
 $ smoker    : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ day       : Factor w/ 4 levels "Fri","Sat","Sun",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ time      : Factor w/ 2 levels "Dinner","Lunch": 1 1 1 1 1 1 1 1 1 1 ...
 $ size      : int  2 3 3 2 4 4 2 4 2 2 ...

`summary`でも概要を知ることが出来る。

In [8]:
summary(tips)

   total_bill         tip             sex      smoker      day         time
 Min.   : 3.07   Min.   : 1.000   Female: 87   No :151   Fri :19   Dinner:176
 1st Qu.:13.35   1st Qu.: 2.000   Male  :157   Yes: 93   Sat :87   Lunch : 68
 Median :17.80   Median : 2.900                          Sun :76
 Mean   :19.79   Mean   : 2.998                          Thur:62
 3rd Qu.:24.13   3rd Qu.: 3.562
 Max.   :50.81   Max.   :10.000
      size
 Min.   :1.00
 1st Qu.:2.00
 Median :2.00
 Mean   :2.57
 3rd Qu.:3.00
 Max.   :6.00

?を付けて呼びだせばヘルプを表示できる。

In [9]:
?tips

Tips                  package:reshape                  R Documentation

_T_i_p_p_i_n_g _d_a_t_a

_D_e_s_c_r_i_p_t_i_o_n:

     One waiter recorded information about each tip he received over a
     period of a few months working in one restaurant. He collected
     several variables:

        • tip in dollars,

        • bill in dollars,

        • sex of the bill payer,

        • whether there were smokers in the party,

        • day of the week,

        • time of day,

        • size of the party.

     In all he recorded 244 tips. The data was reported in a collection
     of case studies for business statistics (Bryant & Smith 1995).

_U_s_a_g_e:

     data(tips)

_F_o_r_m_a_t:

     A data frame with 244 rows and 7 variables

_R_e_f_e_r_e_n_c_e_s:

     Bryant, P. G. and Smith, M (1995) _Practical Data Analysis: Case
     Studies in Business Statistics_.  Homewood, IL: Richard D. Irwin
     Publishing:

列にアクセスする場合は列名を使うことが出来る。

In [10]:
tips$tip

  [1]  1.01  1.66  3.50  3.31  3.61  4.71  2.00  3.12  1.96  3.23  1.71  5.00
 [13]  1.57  3.00  3.02  3.92  1.67  3.71  3.50  3.35  4.08  2.75  2.23  7.58
 [25]  3.18  2.34  2.00  2.00  4.30  3.00  1.45  2.50  3.00  2.45  3.27  3.60
 [37]  2.00  3.07  2.31  5.00  2.24  2.54  3.06  1.32  5.60  3.00  5.00  6.00
 [49]  2.05  3.00  2.50  2.60  5.20  1.56  4.34  3.51  3.00  1.50  1.76  6.73
 [61]  3.21  2.00  1.98  3.76  2.64  3.15  2.47  1.00  2.01  2.09  1.97  3.00
 [73]  3.14  5.00  2.20  1.25  3.08  4.00  3.00  2.71  3.00  3.40  1.83  5.00
 [85]  2.03  5.17  2.00  4.00  5.85  3.00  3.00  3.50  1.00  4.30  3.25  4.73
 [97]  4.00  1.50  3.00  1.50  2.50  3.00  2.50  3.48  4.08  1.64  4.06  4.29
[109]  3.76  4.00  3.00  1.00  4.00  2.55  4.00  3.50  5.07  1.50  1.80  2.92
[121]  2.31  1.68  2.50  2.00  2.52  4.20  1.48  2.00  2.00  2.18  1.50  2.83
[133]  1.50  2.00  3.25  1.25  2.00  2.00  2.00  2.75  3.50  6.70  5.00  5.00
[145]  2.30  1.50  1.36  1.63  1.73  2.00  2.50  2.00  2.74  2.00  2.00  5.14
[157]  5.00  3.75  2.61  2.00  3.50  2.50  2.00  2.00  3.00  3.48  2.24  4.50
[169]  1.61  2.00 10.00  3.16  5.15  3.18  4.00  3.11  2.00  2.00  4.00  3.55
[181]  3.68  5.65  3.50  6.50  3.00  5.00  3.50  2.00  3.50  4.00  1.50  4.19
[193]  2.56  2.02  4.00  1.44  2.00  5.00  2.00  2.00  4.00  2.01  2.00  2.50
[205]  4.00  3.23  3.41  3.00  2.03  2.23  2.00  5.16  9.00  2.50  6.50  1.10
[217]  3.00  1.50  1.44  3.09  2.20  3.48  1.92  3.00  1.58  2.50  2.00  3.00
[229]  2.72  2.88  2.00  3.00  3.39  1.47  3.00  1.25  1.00  1.17  4.67  5.92
[241]  2.00  2.00  1.75  3.00

In [11]:
tips[10:15,c("tip","sex")]

   tip  sex
10 3.23 Male
11 1.71 Male
12 5.00 Female
13 1.57 Male
14 3.00 Male
15 3.02 Female

`select`も使える

In [12]:
tips %>% select(c("tip","sex","size"))

    tip  sex    size
1   1.01 Female 2
2   1.66 Male   3
3   3.50 Male   3
4   3.31 Male   2
5   3.61 Female 4
6   4.71 Male   4
7   2.00 Male   2
8   3.12 Male   4
9   1.96 Male   2
10  3.23 Male   2
11  1.71 Male   2
12  5.00 Female 4
13  1.57 Male   2
14  3.00 Male   4
15  3.02 Female 2
16  3.92 Male   2
17  1.67 Female 3
18  3.71 Male   3
19  3.50 Female 3
20  3.35 Male   3
21  4.08 Male   2
22  2.75 Female 2
23  2.23 Female 2
24  7.58 Male   4
25  3.18 Male   2
26  2.34 Male   4
27  2.00 Male   2
28  2.00 Male   2
29  4.30 Male   2
30  3.00 Female 2
⋮   ⋮    ⋮      ⋮
215 6.50 Female 3
216 1.10 Female 2
217 3.00 Male   5
218 1.50 Male   2
219 1.44 Male   2
220 3.09 Female 4
221 2.20 Male   2
222 3.48 Female 2
223 1.92 Male   1
224 3.00 Female 3
225 1.58 Male   2
226 2.50 Female 2
227 2.00 Female 2
228 3.00 Male   4
229 2.72 Male   2
230 2.88 Female 2
231 2.00 Male   4
232 3.00 Male   3
233 3.39 Male   2
234 1.47 Male   2
235 3.00 Male   2
236 1.25 Male   2
237 1.00 Male   2
238 1.17 Male   2
239 4.67 Female 3
240 5.92 Male   3
241 2.00 Female 2
242 2.00 Male   2
243 1.75 Male   2
244 3.00 Female 2

## 層別

水準ごとに分けて集計をするのに、`group_by`を使う。

次のようにすると喫煙者と非喫煙者でチップが異なるかどうかを平均値で比較できる。

In [13]:
tips %>% group_by(smoker) %>% summarise(mean(tip))

  smoker mean(tip)
1 No     2.991854
2 Yes    3.008710

チップには喫煙者かどうかで大きな差はないようだ。

`group_by`は複数水準で使える。

In [14]:
tips %>% group_by(smoker, sex) %>% summarise(mean(tip))

  smoker sex    mean(tip)
1 No     Female 2.773519
2 No     Male   3.113402
3 Yes    Female 2.931515
4 Yes    Male   3.051167

サンプル数の確認は`n()`

In [15]:
tips %>% group_by(smoker, sex) %>% summarise(n())

  smoker sex    n()
1 No     Female 54
2 No     Male   97
3 Yes    Female 33
4 Yes    Male   60

In [16]:
tips %>% group_by(size) %>% summarise(max(tip))

  size max(tip)
1 1     1.92
2 2     5.85
3 3    10.00
4 4     9.00
5 5     5.14
6 6     6.70

3,4人のグループが最もチップを弾みやすい。どういう心理によるものか？

## 列の編集

`mutate`によって新しい列を作成出来る。

In [17]:
tips %>% mutate(tip_rate = tip / total_bill) %>% head

  total_bill tip  sex    smoker day time   size tip_rate
1 16.99      1.01 Female No     Sun Dinner 2    0.05944673
2 10.34      1.66 Male   No     Sun Dinner 3    0.16054159
3 21.01      3.50 Male   No     Sun Dinner 3    0.16658734
4 23.68      3.31 Male   No     Sun Dinner 2    0.13978041
5 24.59      3.61 Female No     Sun Dinner 4    0.14680765
6 25.29      4.71 Male   No     Sun Dinner 4    0.18623962

但し上の方式では、元のデータフレームは変更されない。
新しい列を追加したい場合は、新規の列名を指定して代入するのが良い。

In [18]:
tips$tip_rate <- tips$tip / tips$total_bill

In [19]:
tips %>% head

  total_bill tip  sex    smoker day time   size tip_rate
1 16.99      1.01 Female No     Sun Dinner 2    0.05944673
2 10.34      1.66 Male   No     Sun Dinner 3    0.16054159
3 21.01      3.50 Male   No     Sun Dinner 3    0.16658734
4 23.68      3.31 Male   No     Sun Dinner 2    0.13978041
5 24.59      3.61 Female No     Sun Dinner 4    0.14680765
6 25.29      4.71 Male   No     Sun Dinner 4    0.18623962

`ifelse`関数を使って、条件によって異なる値を代入することも出来る。

In [20]:
tips$is_female <- ifelse(tips$sex == "Female",1,0)

In [21]:
tips %>% head

  total_bill tip  sex    smoker day time   size tip_rate   is_female
1 16.99      1.01 Female No     Sun Dinner 2    0.05944673 1
2 10.34      1.66 Male   No     Sun Dinner 3    0.16054159 0
3 21.01      3.50 Male   No     Sun Dinner 3    0.16658734 0
4 23.68      3.31 Male   No     Sun Dinner 2    0.13978041 0
5 24.59      3.61 Female No     Sun Dinner 4    0.14680765 1
6 25.29      4.71 Male   No     Sun Dinner 4    0.18623962 0

## 抽出

条件に合うデータのみを取り出すには`filter`

In [22]:
tips %>% filter(sex == "Female") %>% head

  total_bill tip  sex    smoker day time   size tip_rate   is_female
1 16.99      1.01 Female No     Sun Dinner 2    0.05944673 1
2 24.59      3.61 Female No     Sun Dinner 4    0.14680765 1
3 35.26      5.00 Female No     Sun Dinner 4    0.14180374 1
4 14.83      3.02 Female No     Sun Dinner 2    0.20364127 1
5 10.33      1.67 Female No     Sun Dinner 3    0.16166505 1
6 16.97      3.50 Female No     Sun Dinner 3    0.20624632 1

複数の条件の組み合わせには、`&, |, !`といった合成記号を使う。

In [23]:
tips %>% filter(sex == "Female" & smoker == "Yes")

   total_bill tip  sex    smoker day  time   size tip_rate   is_female
1   3.07      1.00 Female Yes    Sat  Dinner 1    0.32573290 1
2  26.86      3.14 Female Yes    Sat  Dinner 2    0.11690246 1
3  25.28      5.00 Female Yes    Sat  Dinner 2    0.19778481 1
4   5.75      1.00 Female Yes    Fri  Dinner 2    0.17391304 1
5  16.32      4.30 Female Yes    Fri  Dinner 2    0.26348039 1
6  11.35      2.50 Female Yes    Fri  Dinner 2    0.22026432 1
7  15.38      3.00 Female Yes    Fri  Dinner 2    0.19505852 1
8  44.30      2.50 Female Yes    Sat  Dinner 3    0.05643341 1
9  22.42      3.48 Female Yes    Sat  Dinner 2    0.15521855 1
10 14.31      4.00 Female Yes    Sat  Dinner 2    0.27952481 1
11 17.51      3.00 Female Yes    Sun  Dinner 2    0.17133067 1
12 10.59      1.61 Female Yes    Sat  Dinner 2    0.15203022 1
13 10.63      2.00 Female Yes    Sat  Dinner 2    0.18814675 1
14  9.60      4.00 Female Yes    Sun  Dinner 2    0.41666667 1
15 20.90      3.50 Female Yes    Sun  Dinner 3    0.16746411 1
16 18.15      3.50 Female Yes    Sun  Dinner 3    0.19283747 1
17 19.81      4.19 Female Yes    Thur Lunch  2    0.21150934 1
18 43.11      5.00 Female Yes    Thur Lunch  4    0.11598237 1
19 13.00      2.00 Female Yes    Thur Lunch  2    0.15384615 1
20 12.74      2.01 Female Yes    Thur Lunch  2    0.15777080 1
21 13.00      2.00 Female Yes    Thur Lunch  2    0.15384615 1
22 16.40      2.50 Female Yes    Thur Lunch  2    0.15243902 1
23 16.47      3.23 Female Yes    Thur Lunch  3    0.19611415 1
24 12.76      2.23 Female Yes    Sat  Dinner 2    0.17476489 1
25 13.27      2.50 Female Yes    Sat  Dinner 2    0.18839488 1
26 28.17      6.50 Female Yes    Sat  Dinner 3    0.23074192 1
27 12.90      1.10 Female Yes    Sat  Dinner 2    0.08527132 1
28 30.14      3.09 Female Yes    Sat  Dinner 4    0.10252157 1
29 13.42      3.48 Female Yes    Fri  Lunch  2    0.25931446 1
30 16.27      2.50 Female Yes    Fri  Lunch  2    0.15365704 1
31 10.09      2.00 Female Yes    Fri  Lunch  2    0.19821606 1
32 22.12      2.88 Female Yes    Sat  Dinner 2    0.13019892 1
33 27.18      2.00 Female Yes    Sat  Dinner 2    0.07358352 1